--
-- PostgreSQL database dump
--

\restrict Khyab35bcovUGlfAkm9O5GUWWZ1kFUlbMMXzhngLYAKTHd3fTNWW3dQ7WYwL2WD

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: actor_type_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.actor_type_enum AS ENUM (
    'system',
    'admin',
    'user'
);


--
-- Name: admins_role_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.admins_role_enum AS ENUM (
    'SUPER_ADMIN',
    'ADMIN',
    'MANAGER',
    'VIEWER'
);


--
-- Name: checkout_abandonments_step_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.checkout_abandonments_step_enum AS ENUM (
    'address',
    'shipping',
    'payment',
    'review'
);


--
-- Name: coupons_type_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.coupons_type_enum AS ENUM (
    'flat',
    'percentage'
);


--
-- Name: inventory_movements_reason_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.inventory_movements_reason_enum AS ENUM (
    'order',
    'cancel',
    'return',
    'admin_adjustment'
);


--
-- Name: inventory_movements_reference_type_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.inventory_movements_reference_type_enum AS ENUM (
    'order',
    'order_item',
    'return',
    'manual'
);


--
-- Name: inventory_reservations_status_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.inventory_reservations_status_enum AS ENUM (
    'active',
    'expired',
    'converted',
    'released'
);


--
-- Name: orders_status_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.orders_status_enum AS ENUM (
    'pending',
    'confirmed',
    'processing',
    'shipped',
    'out_for_delivery',
    'delivered',
    'cancelled'
);


--
-- Name: payments_provider_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.payments_provider_enum AS ENUM (
    'razorpay',
    'stripe',
    'cashfree',
    'cod'
);


--
-- Name: payments_status_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.payments_status_enum AS ENUM (
    'initiated',
    'success',
    'failed',
    'refunded'
);


--
-- Name: refunds_status_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.refunds_status_enum AS ENUM (
    'initiated',
    'processing',
    'success',
    'failed'
);


--
-- Name: returns_status_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.returns_status_enum AS ENUM (
    'initiated',
    'approved',
    'rejected',
    'received',
    'refunded'
);


--
-- Name: reviews_status_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.reviews_status_enum AS ENUM (
    'pending',
    'approved',
    'rejected'
);


--
-- Name: site_settings_group_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.site_settings_group_enum AS ENUM (
    'payments',
    'shipping',
    'seo',
    'general'
);


--
-- Name: user_addresses_type_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.user_addresses_type_enum AS ENUM (
    'shipping',
    'billing'
);


--
-- Name: users_role_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.users_role_enum AS ENUM (
    'customer',
    'admin'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: add_to_cart_events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.add_to_cart_events (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "userId" uuid,
    "sessionId" character varying(255),
    "productId" uuid NOT NULL,
    "variantId" uuid,
    quantity integer NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: admins; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.admins (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "firstName" character varying(100) NOT NULL,
    "lastName" character varying(100) NOT NULL,
    email character varying(150) NOT NULL,
    password character varying(255) NOT NULL,
    role public.admins_role_enum DEFAULT 'ADMIN'::public.admins_role_enum NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: cart_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cart_items (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "cartId" uuid NOT NULL,
    "productId" uuid NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    price numeric(10,2) NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "variantId" uuid,
    "variantWeight" character varying(50),
    "productName" character varying(255),
    "imageUrl" character varying(500)
);


--
-- Name: COLUMN cart_items."imageUrl"; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.cart_items."imageUrl" IS 'Hero image URL at time of adding to cart';


--
-- Name: carts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.carts (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "userId" uuid,
    "sessionId" character varying(100) NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "expiresAt" timestamp without time zone
);


--
-- Name: categories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.categories (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    slug character varying NOT NULL,
    name character varying NOT NULL,
    description text,
    "imageUrl" character varying,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "parentId" uuid,
    "altText" character varying
);


--
-- Name: certifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.certifications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    code character varying,
    description text,
    "logoUrl" character varying,
    "verificationUrl" character varying,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: checkout_abandonments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.checkout_abandonments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "cartId" uuid NOT NULL,
    "userId" uuid,
    "startedAt" timestamp without time zone NOT NULL,
    "abandonedAt" timestamp without time zone,
    step public.checkout_abandonments_step_enum NOT NULL,
    meta jsonb,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: coupons; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.coupons (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    code character varying(40) NOT NULL,
    type public.coupons_type_enum NOT NULL,
    value numeric NOT NULL,
    "minOrderAmount" numeric,
    "maxDiscount" numeric,
    "validFrom" timestamp without time zone,
    "validTo" timestamp without time zone,
    "usageLimit" integer,
    "usageCount" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: inventory_movements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inventory_movements (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "variantId" uuid NOT NULL,
    "quantityChange" integer NOT NULL,
    reason public.inventory_movements_reason_enum NOT NULL,
    "referenceType" public.inventory_movements_reference_type_enum,
    "referenceId" uuid,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "createdByAdminId" uuid
);


--
-- Name: inventory_reservations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inventory_reservations (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "variantId" uuid NOT NULL,
    "cartId" uuid,
    "orderId" uuid,
    quantity integer NOT NULL,
    status public.inventory_reservations_status_enum NOT NULL,
    "reservedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "expiresAt" timestamp without time zone,
    "releasedAt" timestamp without time zone
);


--
-- Name: login_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.login_sessions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "userId" uuid,
    "sessionId" character varying(255) NOT NULL,
    "ipAddress" inet,
    "userAgent" text,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "expiresAt" timestamp without time zone,
    "revokedAt" timestamp without time zone,
    "isRevoked" boolean DEFAULT false NOT NULL
);


--
-- Name: master_admin_preferences; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.master_admin_preferences (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    key character varying(255) NOT NULL,
    value text NOT NULL,
    description character varying(500),
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    "timestamp" bigint NOT NULL,
    name character varying NOT NULL
);


--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: order_coupons; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.order_coupons (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "orderId" uuid NOT NULL,
    "couponId" uuid NOT NULL,
    code character varying(40) NOT NULL,
    "discountApplied" numeric NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.order_items (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "orderId" uuid NOT NULL,
    "productId" uuid NOT NULL,
    "productName" character varying(255) NOT NULL,
    "productSlug" character varying(255) NOT NULL,
    quantity integer NOT NULL,
    price numeric(10,2) NOT NULL,
    total numeric(10,2) NOT NULL,
    "variantWeight" character varying(50),
    "customerName" character varying(255),
    "variantId" uuid
);


--
-- Name: order_status_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.order_status_history (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "orderId" uuid NOT NULL,
    "fromStatus" public.orders_status_enum,
    "toStatus" public.orders_status_enum NOT NULL,
    "actorType" public.actor_type_enum NOT NULL,
    "actorId" uuid,
    note text,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: orders; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.orders (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "orderNumber" character varying(50) NOT NULL,
    "userId" uuid,
    "sessionId" character varying(255),
    "customerEmail" character varying(255) NOT NULL,
    "customerPhone" character varying(20) NOT NULL,
    status public.orders_status_enum DEFAULT 'pending'::public.orders_status_enum NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    "shippingCost" numeric(10,2) NOT NULL,
    tax numeric(10,2) NOT NULL,
    total numeric(10,2) NOT NULL,
    "paymentMethod" character varying(50) DEFAULT 'card'::character varying NOT NULL,
    "paymentStatus" character varying(50),
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "customerName" character varying(255),
    "shippingAddress" jsonb,
    "billingAddress" jsonb
);


--
-- Name: payments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "orderId" uuid NOT NULL,
    provider public.payments_provider_enum NOT NULL,
    status public.payments_status_enum NOT NULL,
    amount numeric NOT NULL,
    currency character varying(3) NOT NULL,
    "paymentIntentId" character varying(255),
    "transactionId" character varying(255),
    "gatewayResponse" jsonb,
    "paidAt" timestamp without time zone,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: product_images; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product_images (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "productId" uuid NOT NULL,
    "productName" character varying NOT NULL,
    "imageUrl" text NOT NULL,
    "altText" character varying,
    "fileName" character varying,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "categoryId" uuid,
    "categoryName" character varying,
    "variantId" uuid,
    "variantWeight" character varying,
    "imageType" character varying DEFAULT 'other'::character varying NOT NULL
);


--
-- Name: product_variants; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product_variants (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    weight character varying NOT NULL,
    "productId" uuid,
    "productName" character varying NOT NULL,
    price numeric(10,2) NOT NULL,
    sku character varying,
    "stockQuantity" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "discountPrice" numeric(10,2),
    discount numeric(5,2),
    "lowStockThreshold" integer DEFAULT 0 NOT NULL,
    "shelfLife" character varying,
    rating double precision DEFAULT '0'::double precision NOT NULL,
    "reviewCount" integer DEFAULT 0 NOT NULL,
    "isDefault" boolean DEFAULT false NOT NULL,
    "categoryId" uuid,
    "categoryName" character varying
);


--
-- Name: product_views; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product_views (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "userId" uuid,
    "sessionId" character varying,
    "viewedAt" timestamp without time zone NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "productId" uuid NOT NULL,
    "productName" character varying NOT NULL,
    "variantId" uuid,
    "variantWeight" character varying,
    "categoryId" uuid,
    "categoryName" character varying
);


--
-- Name: products; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.products (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    slug character varying NOT NULL,
    name character varying NOT NULL,
    description text NOT NULL,
    ingredients text,
    price numeric(10,2) NOT NULL,
    sku character varying,
    "isFeatured" boolean DEFAULT false NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    rating double precision DEFAULT '0'::double precision NOT NULL,
    "reviewCount" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "categoryId" uuid,
    "shortDescription" character varying(100),
    "soldCount" integer DEFAULT 0 NOT NULL,
    badges json,
    "isBestSeller" boolean DEFAULT false NOT NULL,
    "isLatestArrival" boolean DEFAULT false NOT NULL,
    "categoryName" character varying
);


--
-- Name: products_certifications_certifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.products_certifications_certifications (
    "productsId" uuid NOT NULL,
    "certificationsId" uuid NOT NULL
);


--
-- Name: refunds; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.refunds (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "paymentId" uuid NOT NULL,
    amount numeric NOT NULL,
    reason text,
    status public.refunds_status_enum NOT NULL,
    "processedAt" timestamp without time zone,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: returns; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.returns (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "orderItemId" uuid NOT NULL,
    reason text,
    status public.returns_status_enum NOT NULL,
    "refundAmount" numeric,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: reviews; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.reviews (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "productId" uuid NOT NULL,
    "variantId" uuid,
    "userId" uuid NOT NULL,
    rating smallint NOT NULL,
    title character varying(255),
    comment text,
    "isVerifiedPurchase" boolean DEFAULT false NOT NULL,
    status public.reviews_status_enum DEFAULT 'pending'::public.reviews_status_enum NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT reviews_rating_check CHECK (((rating >= 1) AND (rating <= 5)))
);


--
-- Name: search_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.search_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "userId" uuid,
    "sessionId" character varying(255),
    query text NOT NULL,
    "resultCount" integer,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: site_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.site_settings (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    key character varying(100) NOT NULL,
    value jsonb NOT NULL,
    "group" public.site_settings_group_enum
);


--
-- Name: stock_notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.stock_notifications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "userId" uuid,
    "userEmail" character varying NOT NULL,
    "userName" character varying,
    "isNotified" boolean DEFAULT false NOT NULL,
    "notifiedAt" timestamp without time zone,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "variantId" uuid NOT NULL,
    "productId" uuid NOT NULL,
    "productName" character varying NOT NULL,
    "variantWeight" character varying
);


--
-- Name: user_addresses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_addresses (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "userId" uuid NOT NULL,
    type character varying NOT NULL,
    "isDefault" boolean DEFAULT false NOT NULL,
    "recipientName" character varying(100),
    phone character varying(20),
    line1 character varying(255) NOT NULL,
    line2 character varying(255),
    city character varying(100) NOT NULL,
    state character varying(50) NOT NULL,
    zip character varying(20) NOT NULL,
    country character varying(100) DEFAULT 'United States'::character varying NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "customLabel" character varying(50)
);


--
-- Name: user_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_profiles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "userId" uuid NOT NULL,
    "firstName" character varying(100),
    "lastName" character varying(100),
    phone character varying(20),
    "avatarUrl" character varying,
    preferences jsonb,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "middleName" character varying(100)
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    name character varying(100) NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    role public.users_role_enum DEFAULT 'customer'::public.users_role_enum NOT NULL,
    phone character varying(20)
);


--
-- Name: wishlists; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.wishlists (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "userId" uuid,
    "productId" uuid NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "variantId" uuid,
    "sessionId" character varying(100),
    "expiresAt" timestamp without time zone,
    "imageUrl" character varying(500)
);


--
-- Name: COLUMN wishlists."imageUrl"; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.wishlists."imageUrl" IS 'Hero image URL at time of adding to wishlist';


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: migrations PK_8c82d7f526340ab734260ea46be; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT "PK_8c82d7f526340ab734260ea46be" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: site_settings PK_e4290e8371a166d7e066d131f6e; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.site_settings
    ADD CONSTRAINT "PK_e4290e8371a166d7e066d131f6e" PRIMARY KEY (id);


--
-- Name: master_admin_preferences PK_e77e8cc7341790713af399682c9; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.master_admin_preferences
    ADD CONSTRAINT "PK_e77e8cc7341790713af399682c9" PRIMARY KEY (id);


--
-- Name: certifications PK_fd763d412e4a1fb1b6dadd6e72b; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.certifications
    ADD CONSTRAINT "PK_fd763d412e4a1fb1b6dadd6e72b" PRIMARY KEY (id);


--
-- Name: admins UQ_051db7d37d478a69a7432df1479; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT "UQ_051db7d37d478a69a7432df1479" UNIQUE (email);


--
-- Name: carts UQ_08c5fb75dc0c2ed434aac2b0f5e; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT "UQ_08c5fb75dc0c2ed434aac2b0f5e" UNIQUE ("sessionId");


--
-- Name: categories UQ_420d9f679d41281f282f5bc7d09; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "UQ_420d9f679d41281f282f5bc7d09" UNIQUE (slug);


--
-- Name: products UQ_464f927ae360106b783ed0b4106; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "UQ_464f927ae360106b783ed0b4106" UNIQUE (slug);


--
-- Name: orders UQ_59b0c3b34ea0fa5562342f24143; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "UQ_59b0c3b34ea0fa5562342f24143" UNIQUE ("orderNumber");


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: certifications UQ_9e80a8a69b50152c52dfd89c3ab; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.certifications
    ADD CONSTRAINT "UQ_9e80a8a69b50152c52dfd89c3ab" UNIQUE (code);


--
-- Name: certifications UQ_9eb29158fdc27b227a71c7f138c; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.certifications
    ADD CONSTRAINT "UQ_9eb29158fdc27b227a71c7f138c" UNIQUE (name);


--
-- Name: users UQ_a000cca60bcf04454e727699490; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_a000cca60bcf04454e727699490" UNIQUE (phone);


--
-- Name: master_admin_preferences UQ_c811beb16f5a123067e92414785; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.master_admin_preferences
    ADD CONSTRAINT "UQ_c811beb16f5a123067e92414785" UNIQUE (key);


--
-- Name: site_settings UQ_e71167433328a5afb90dda43da0; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.site_settings
    ADD CONSTRAINT "UQ_e71167433328a5afb90dda43da0" UNIQUE (key);


--
-- Name: add_to_cart_events add_to_cart_events_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.add_to_cart_events
    ADD CONSTRAINT add_to_cart_events_pkey PRIMARY KEY (id);


--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (id);


--
-- Name: cart_items cart_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_pkey PRIMARY KEY (id);


--
-- Name: carts carts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: checkout_abandonments checkout_abandonments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.checkout_abandonments
    ADD CONSTRAINT checkout_abandonments_pkey PRIMARY KEY (id);


--
-- Name: coupons coupons_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_pkey PRIMARY KEY (id);


--
-- Name: inventory_movements inventory_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_pkey PRIMARY KEY (id);


--
-- Name: inventory_reservations inventory_reservations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_reservations
    ADD CONSTRAINT inventory_reservations_pkey PRIMARY KEY (id);


--
-- Name: login_sessions login_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.login_sessions
    ADD CONSTRAINT login_sessions_pkey PRIMARY KEY (id);


--
-- Name: order_coupons order_coupons_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_coupons
    ADD CONSTRAINT order_coupons_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: order_status_history order_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_status_history
    ADD CONSTRAINT order_status_history_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: product_images product_images_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_pkey PRIMARY KEY (id);


--
-- Name: product_variants product_variants_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_variants
    ADD CONSTRAINT product_variants_pkey PRIMARY KEY (id);


--
-- Name: product_views product_views_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_views
    ADD CONSTRAINT product_views_pkey PRIMARY KEY (id);


--
-- Name: products_certifications_certifications products_certifications_certifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products_certifications_certifications
    ADD CONSTRAINT products_certifications_certifications_pkey PRIMARY KEY ("productsId", "certificationsId");


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: refunds refunds_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refunds
    ADD CONSTRAINT refunds_pkey PRIMARY KEY (id);


--
-- Name: returns returns_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.returns
    ADD CONSTRAINT returns_pkey PRIMARY KEY (id);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (id);


--
-- Name: search_logs search_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.search_logs
    ADD CONSTRAINT search_logs_pkey PRIMARY KEY (id);


--
-- Name: stock_notifications stock_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stock_notifications
    ADD CONSTRAINT stock_notifications_pkey PRIMARY KEY (id);


--
-- Name: user_addresses user_addresses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_addresses
    ADD CONSTRAINT user_addresses_pkey PRIMARY KEY (id);


--
-- Name: user_profiles user_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_pkey PRIMARY KEY (id);


--
-- Name: wishlists wishlists_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT wishlists_pkey PRIMARY KEY (id);


--
-- Name: IDX_1636a90d9a56cdaca25f848474; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_1636a90d9a56cdaca25f848474" ON public.products_certifications_certifications USING btree ("certificationsId");


--
-- Name: IDX_3a71403b270d08275bac9a3f84; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_3a71403b270d08275bac9a3f84" ON public.product_views USING btree ("viewedAt", "productId");


--
-- Name: IDX_464f927ae360106b783ed0b410; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_464f927ae360106b783ed0b410" ON public.products USING btree (slug);


--
-- Name: IDX_46f236f21640f9da218a063a86; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_46f236f21640f9da218a063a86" ON public.product_variants USING btree (sku);


--
-- Name: IDX_69ec8a39a213432f1edd6c3e9c; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_69ec8a39a213432f1edd6c3e9c" ON public.product_variants USING btree ("productId", "isActive");


--
-- Name: IDX_71bb0fd698fc63edbf47353f83; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_71bb0fd698fc63edbf47353f83" ON public.stock_notifications USING btree ("notifiedAt");


--
-- Name: IDX_79ed71e7c780803d932c82f106; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_79ed71e7c780803d932c82f106" ON public.products USING btree ("createdAt", "isBestSeller");


--
-- Name: IDX_810898b4d5b695a1071169d74d; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_810898b4d5b695a1071169d74d" ON public.products USING btree ("createdAt", "isLatestArrival");


--
-- Name: IDX_add_to_cart_events_product_variant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_add_to_cart_events_product_variant" ON public.add_to_cart_events USING btree ("productId", "variantId");


--
-- Name: IDX_add_to_cart_events_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_add_to_cart_events_user" ON public.add_to_cart_events USING btree ("userId");


--
-- Name: IDX_b367708bf720c8dd62fc683316; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_b367708bf720c8dd62fc683316" ON public.product_images USING btree ("productId");


--
-- Name: IDX_be7b9ab5799dab8fd7fdb6a68e; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_be7b9ab5799dab8fd7fdb6a68e" ON public.product_views USING btree ("userId", "viewedAt");


--
-- Name: IDX_c4624ce9e9a1eeb3daf3c2586e; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_c4624ce9e9a1eeb3daf3c2586e" ON public.stock_notifications USING btree ("userEmail", "variantId");


--
-- Name: IDX_c74fb0b0c5223dd41564eb4ff4; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_c74fb0b0c5223dd41564eb4ff4" ON public.products_certifications_certifications USING btree ("productsId");


--
-- Name: IDX_c9440e42b7f8926483a340ef79; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_c9440e42b7f8926483a340ef79" ON public.product_views USING btree ("viewedAt", "variantId");


--
-- Name: IDX_cart_items_cart_variant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_cart_items_cart_variant" ON public.cart_items USING btree ("cartId", "variantId");


--
-- Name: IDX_cart_items_variant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_cart_items_variant" ON public.cart_items USING btree ("variantId");


--
-- Name: IDX_checkout_abandonments_cart; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_checkout_abandonments_cart" ON public.checkout_abandonments USING btree ("cartId");


--
-- Name: IDX_checkout_abandonments_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_checkout_abandonments_created" ON public.checkout_abandonments USING btree ("createdAt");


--
-- Name: IDX_checkout_abandonments_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_checkout_abandonments_user" ON public.checkout_abandonments USING btree ("userId");


--
-- Name: IDX_coupons_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_coupons_active" ON public.coupons USING btree (code) WHERE ("isActive" = true);


--
-- Name: IDX_coupons_valid_range; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_coupons_valid_range" ON public.coupons USING btree ("validFrom", "validTo");


--
-- Name: IDX_f515690c571a03400a9876600b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_f515690c571a03400a9876600b" ON public.product_variants USING btree ("productId");


--
-- Name: IDX_ff56834e735fa78a15d0cf2192; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_ff56834e735fa78a15d0cf2192" ON public.products USING btree ("categoryId");


--
-- Name: IDX_inventory_movements_reason; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_inventory_movements_reason" ON public.inventory_movements USING btree (reason);


--
-- Name: IDX_inventory_movements_variant_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_inventory_movements_variant_created" ON public.inventory_movements USING btree ("variantId", "createdAt");


--
-- Name: IDX_inventory_reservations_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_inventory_reservations_active" ON public.inventory_reservations USING btree ("variantId") WHERE (status = 'active'::public.inventory_reservations_status_enum);


--
-- Name: IDX_inventory_reservations_cart; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_inventory_reservations_cart" ON public.inventory_reservations USING btree ("cartId");


--
-- Name: IDX_inventory_reservations_order; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_inventory_reservations_order" ON public.inventory_reservations USING btree ("orderId");


--
-- Name: IDX_inventory_reservations_variant_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_inventory_reservations_variant_status" ON public.inventory_reservations USING btree ("variantId", status);


--
-- Name: IDX_login_sessions_user_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_login_sessions_user_created" ON public.login_sessions USING btree ("userId", "createdAt");


--
-- Name: IDX_order_items_variantId; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_order_items_variantId" ON public.order_items USING btree ("variantId");


--
-- Name: IDX_order_status_history_order_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_order_status_history_order_created" ON public.order_status_history USING btree ("orderId", "createdAt");


--
-- Name: IDX_payments_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_payments_created" ON public.payments USING btree ("createdAt");


--
-- Name: IDX_payments_order; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_payments_order" ON public.payments USING btree ("orderId");


--
-- Name: IDX_payments_provider_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_payments_provider_status" ON public.payments USING btree (provider, status);


--
-- Name: IDX_product_default; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_product_default" ON public.product_variants USING btree ("productId", "isDefault");


--
-- Name: IDX_refunds_payment; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_refunds_payment" ON public.refunds USING btree ("paymentId");


--
-- Name: IDX_refunds_status_processed; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_refunds_status_processed" ON public.refunds USING btree (status, "processedAt");


--
-- Name: IDX_returns_order_item_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_returns_order_item_status" ON public.returns USING btree ("orderItemId", status);


--
-- Name: IDX_reviews_product; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_reviews_product" ON public.reviews USING btree ("productId");


--
-- Name: IDX_reviews_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_reviews_user" ON public.reviews USING btree ("userId");


--
-- Name: IDX_reviews_variant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_reviews_variant" ON public.reviews USING btree ("variantId");


--
-- Name: IDX_search_logs_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_search_logs_created" ON public.search_logs USING btree ("createdAt");


--
-- Name: IDX_search_logs_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_search_logs_user" ON public.search_logs USING btree ("userId");


--
-- Name: IDX_user_addresses_user_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_user_addresses_user_type" ON public.user_addresses USING btree ("userId", type);


--
-- Name: IDX_wishlists_session; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_wishlists_session" ON public.wishlists USING btree ("sessionId");


--
-- Name: IDX_wishlists_session_product_variant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_wishlists_session_product_variant" ON public.wishlists USING btree ("sessionId", "productId", "variantId");


--
-- Name: IDX_wishlists_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_wishlists_user" ON public.wishlists USING btree ("userId");


--
-- Name: IDX_wishlists_variant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_wishlists_variant" ON public.wishlists USING btree ("variantId");


--
-- Name: PK_005269d8574e6fac0493715c308; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "PK_005269d8574e6fac0493715c308" ON public.order_items USING btree (id);


--
-- Name: PK_0806c755e0aca124e67c0cf6d7d; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "PK_0806c755e0aca124e67c0cf6d7d" ON public.products USING btree (id);


--
-- Name: PK_1974264ea7265989af8392f63a1; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "PK_1974264ea7265989af8392f63a1" ON public.product_images USING btree (id);


--
-- Name: PK_24dbc6126a28ff948da33e97d3b; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "PK_24dbc6126a28ff948da33e97d3b" ON public.categories USING btree (id);


--
-- Name: PK_281e3f2c55652d6a22c0aa59fd7; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "PK_281e3f2c55652d6a22c0aa59fd7" ON public.product_variants USING btree (id);


--
-- Name: PK_30b2bf7f11bc3f9604ffc95dc89; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "PK_30b2bf7f11bc3f9604ffc95dc89" ON public.product_views USING btree (id);


--
-- Name: PK_617773bbfced1ba9d2cc0136970; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "PK_617773bbfced1ba9d2cc0136970" ON public.products_certifications_certifications USING btree ("productsId", "certificationsId");


--
-- Name: PK_6fccf5ec03c172d27a28a82928b; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "PK_6fccf5ec03c172d27a28a82928b" ON public.cart_items USING btree (id);


--
-- Name: PK_710e2d4957aa5878dfe94e4ac2f; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "PK_710e2d4957aa5878dfe94e4ac2f" ON public.orders USING btree (id);


--
-- Name: PK_b5f695a59f5ebb50af3c8160816; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "PK_b5f695a59f5ebb50af3c8160816" ON public.carts USING btree (id);


--
-- Name: PK_c0f4c0af55afa3f986ec6fcd129; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "PK_c0f4c0af55afa3f986ec6fcd129" ON public.stock_notifications USING btree (id);


--
-- Name: PK_e3b38270c97a854c48d2e80874e; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "PK_e3b38270c97a854c48d2e80874e" ON public.admins USING btree (id);


--
-- Name: UQ_coupons_code; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "UQ_coupons_code" ON public.coupons USING btree (code);


--
-- Name: UQ_login_sessions_session; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "UQ_login_sessions_session" ON public.login_sessions USING btree ("sessionId");


--
-- Name: UQ_order_coupons_pair; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "UQ_order_coupons_pair" ON public.order_coupons USING btree ("orderId", "couponId");


--
-- Name: UQ_payments_intent; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "UQ_payments_intent" ON public.payments USING btree ("paymentIntentId") WHERE (("paymentIntentId" IS NOT NULL) AND (provider <> 'cod'::public.payments_provider_enum));


--
-- Name: UQ_user_addresses_default; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "UQ_user_addresses_default" ON public.user_addresses USING btree ("userId", type) WHERE ("isDefault" = true);


--
-- Name: UQ_user_profiles_user; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "UQ_user_profiles_user" ON public.user_profiles USING btree ("userId");


--
-- Name: UQ_wishlists_session_product_variant; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "UQ_wishlists_session_product_variant" ON public.wishlists USING btree ("sessionId", "productId", "variantId") WHERE ("sessionId" IS NOT NULL);


--
-- Name: UQ_wishlists_user_product_variant; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "UQ_wishlists_user_product_variant" ON public.wishlists USING btree ("userId", "productId", "variantId") WHERE ("userId" IS NOT NULL);


--
-- Name: idx_master_admin_preferences_key; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_master_admin_preferences_key ON public.master_admin_preferences USING btree (key);


--
-- Name: idx_product_images_variant_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_product_images_variant_type ON public.product_images USING btree ("variantId", "imageType");


--
-- Name: idx_users_phone; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_phone ON public.users USING btree (phone);


--
-- Name: product_views FK_0eeddd2967d61998a9fb6bc3be0; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_views
    ADD CONSTRAINT "FK_0eeddd2967d61998a9fb6bc3be0" FOREIGN KEY ("productId") REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: products_certifications_certifications FK_1636a90d9a56cdaca25f8484747; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products_certifications_certifications
    ADD CONSTRAINT "FK_1636a90d9a56cdaca25f8484747" FOREIGN KEY ("certificationsId") REFERENCES public.certifications(id);


--
-- Name: stock_notifications FK_1ea30a8e2266ef675df24d1ca5e; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stock_notifications
    ADD CONSTRAINT "FK_1ea30a8e2266ef675df24d1ca5e" FOREIGN KEY ("variantId") REFERENCES public.product_variants(id) ON DELETE CASCADE;


--
-- Name: product_views FK_71f8d05d1eb506b5fc80dcbbff5; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_views
    ADD CONSTRAINT "FK_71f8d05d1eb506b5fc80dcbbff5" FOREIGN KEY ("variantId") REFERENCES public.product_variants(id) ON DELETE CASCADE;


--
-- Name: cart_items FK_72679d98b31c737937b8932ebe6; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT "FK_72679d98b31c737937b8932ebe6" FOREIGN KEY ("productId") REFERENCES public.products(id);


--
-- Name: categories FK_9a6f051e66982b5f0318981bcaa; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "FK_9a6f051e66982b5f0318981bcaa" FOREIGN KEY ("parentId") REFERENCES public.categories(id);


--
-- Name: add_to_cart_events FK_add_to_cart_events_product; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.add_to_cart_events
    ADD CONSTRAINT "FK_add_to_cart_events_product" FOREIGN KEY ("productId") REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: add_to_cart_events FK_add_to_cart_events_user; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.add_to_cart_events
    ADD CONSTRAINT "FK_add_to_cart_events_user" FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: add_to_cart_events FK_add_to_cart_events_variant; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.add_to_cart_events
    ADD CONSTRAINT "FK_add_to_cart_events_variant" FOREIGN KEY ("variantId") REFERENCES public.product_variants(id) ON DELETE SET NULL;


--
-- Name: product_images FK_b367708bf720c8dd62fc6833161; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT "FK_b367708bf720c8dd62fc6833161" FOREIGN KEY ("productId") REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: products_certifications_certifications FK_c74fb0b0c5223dd41564eb4ff40; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products_certifications_certifications
    ADD CONSTRAINT "FK_c74fb0b0c5223dd41564eb4ff40" FOREIGN KEY ("productsId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cart_items FK_cart_items_variant; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT "FK_cart_items_variant" FOREIGN KEY ("variantId") REFERENCES public.product_variants(id) ON DELETE SET NULL;


--
-- Name: order_items FK_cdb99c05982d5191ac8465ac010; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "FK_cdb99c05982d5191ac8465ac010" FOREIGN KEY ("productId") REFERENCES public.products(id);


--
-- Name: checkout_abandonments FK_checkout_abandonments_cart; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.checkout_abandonments
    ADD CONSTRAINT "FK_checkout_abandonments_cart" FOREIGN KEY ("cartId") REFERENCES public.carts(id) ON DELETE CASCADE;


--
-- Name: checkout_abandonments FK_checkout_abandonments_user; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.checkout_abandonments
    ADD CONSTRAINT "FK_checkout_abandonments_user" FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: cart_items FK_edd714311619a5ad09525045838; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT "FK_edd714311619a5ad09525045838" FOREIGN KEY ("cartId") REFERENCES public.carts(id) ON DELETE CASCADE;


--
-- Name: order_items FK_f1d359a55923bb45b057fbdab0d; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "FK_f1d359a55923bb45b057fbdab0d" FOREIGN KEY ("orderId") REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: product_variants FK_f515690c571a03400a9876600b5; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_variants
    ADD CONSTRAINT "FK_f515690c571a03400a9876600b5" FOREIGN KEY ("productId") REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: products FK_ff56834e735fa78a15d0cf21926; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "FK_ff56834e735fa78a15d0cf21926" FOREIGN KEY ("categoryId") REFERENCES public.categories(id);


--
-- Name: inventory_movements FK_inventory_movements_admin; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT "FK_inventory_movements_admin" FOREIGN KEY ("createdByAdminId") REFERENCES public.admins(id) ON DELETE SET NULL;


--
-- Name: inventory_movements FK_inventory_movements_variant; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT "FK_inventory_movements_variant" FOREIGN KEY ("variantId") REFERENCES public.product_variants(id) ON DELETE CASCADE;


--
-- Name: inventory_reservations FK_inventory_reservations_cart; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_reservations
    ADD CONSTRAINT "FK_inventory_reservations_cart" FOREIGN KEY ("cartId") REFERENCES public.carts(id) ON DELETE SET NULL;


--
-- Name: inventory_reservations FK_inventory_reservations_order; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_reservations
    ADD CONSTRAINT "FK_inventory_reservations_order" FOREIGN KEY ("orderId") REFERENCES public.orders(id) ON DELETE SET NULL;


--
-- Name: inventory_reservations FK_inventory_reservations_variant; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_reservations
    ADD CONSTRAINT "FK_inventory_reservations_variant" FOREIGN KEY ("variantId") REFERENCES public.product_variants(id) ON DELETE CASCADE;


--
-- Name: login_sessions FK_login_sessions_user; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.login_sessions
    ADD CONSTRAINT "FK_login_sessions_user" FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: order_coupons FK_order_coupons_coupon; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_coupons
    ADD CONSTRAINT "FK_order_coupons_coupon" FOREIGN KEY ("couponId") REFERENCES public.coupons(id) ON DELETE CASCADE;


--
-- Name: order_coupons FK_order_coupons_order; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_coupons
    ADD CONSTRAINT "FK_order_coupons_order" FOREIGN KEY ("orderId") REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: order_status_history FK_order_status_history_order; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_status_history
    ADD CONSTRAINT "FK_order_status_history_order" FOREIGN KEY ("orderId") REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: payments FK_payments_order; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT "FK_payments_order" FOREIGN KEY ("orderId") REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: refunds FK_refunds_payment; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refunds
    ADD CONSTRAINT "FK_refunds_payment" FOREIGN KEY ("paymentId") REFERENCES public.payments(id) ON DELETE CASCADE;


--
-- Name: returns FK_returns_order_item; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.returns
    ADD CONSTRAINT "FK_returns_order_item" FOREIGN KEY ("orderItemId") REFERENCES public.order_items(id) ON DELETE CASCADE;


--
-- Name: reviews FK_reviews_product; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT "FK_reviews_product" FOREIGN KEY ("productId") REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: reviews FK_reviews_user; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT "FK_reviews_user" FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: reviews FK_reviews_variant; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT "FK_reviews_variant" FOREIGN KEY ("variantId") REFERENCES public.product_variants(id) ON DELETE SET NULL;


--
-- Name: search_logs FK_search_logs_user; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.search_logs
    ADD CONSTRAINT "FK_search_logs_user" FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: user_addresses FK_user_addresses_user; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_addresses
    ADD CONSTRAINT "FK_user_addresses_user" FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_profiles FK_user_profiles_user; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT "FK_user_profiles_user" FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: wishlists FK_wishlists_product; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT "FK_wishlists_product" FOREIGN KEY ("productId") REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: wishlists FK_wishlists_user; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT "FK_wishlists_user" FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: wishlists FK_wishlists_variant; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT "FK_wishlists_variant" FOREIGN KEY ("variantId") REFERENCES public.product_variants(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict Khyab35bcovUGlfAkm9O5GUWWZ1kFUlbMMXzhngLYAKTHd3fTNWW3dQ7WYwL2WD

